create database LLANQUEUIII
GO
USE [LLANQUEUIII]
GO
/****** Object:  Table [dbo].[LINEA_INVESTIGACION]    Script Date: 10/12/2021 17:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINEA_INVESTIGACION](
	[ID_LINEA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NULL,
	[DESCRIPCION] [text] NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LINEA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 10/12/2021 17:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID_PERSONA] [int] IDENTITY(6,1) NOT NULL,
	[DNI] [varchar](8) NULL,
	[APELLIDOS] [varchar](250) NULL,
	[NOMBRES] [varchar](250) NULL,
	[SEXO] [char](1) NULL,
	[EMAIL] [varchar](250) NULL,
	[CELULAR] [varchar](9) NULL,
	[DIRECCION] [text] NULL,
 CONSTRAINT [PK__PERSONA__78244149C1FA2051] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA_PROYECTO]    Script Date: 10/12/2021 17:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA_PROYECTO](
	[ID_PERSONA_PROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NULL,
	[ID_PROYECTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA_PROYECTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROYECTO]    Script Date: 10/12/2021 17:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROYECTO](
	[ID_PROYECTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_LINEA] [int] NULL,
	[ID_USUARIO] [int] NULL,
	[NOMBRE] [varchar](250) NULL,
	[DESCRIPCION] [text] NULL,
	[ESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROYECTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/12/2021 17:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PERSONA] [int] NULL,
	[USUARIO] [varchar](100) NULL,
	[CLAVE] [varchar](250) NULL,
	[NIVEL] [varchar](20) NULL,
	[ESTADO] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LINEA_INVESTIGACION] ON 

INSERT [dbo].[LINEA_INVESTIGACION] ([ID_LINEA], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (1, N'APLICACIONES MOVIL', N'Sistemas moviles', 1)
INSERT [dbo].[LINEA_INVESTIGACION] ([ID_LINEA], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (2, N'BASE DE DATOS', N'intelegencia artificial', 1)
INSERT [dbo].[LINEA_INVESTIGACION] ([ID_LINEA], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (3, N'APLICACIONES WEB', N'software web', 1)
SET IDENTITY_INSERT [dbo].[LINEA_INVESTIGACION] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONA] ON 

INSERT [dbo].[PERSONA] ([ID_PERSONA], [DNI], [APELLIDOS], [NOMBRES], [SEXO], [EMAIL], [CELULAR], [DIRECCION]) VALUES (1, N'45124578', N'LANCHIPA VALENCIA', N'ENRIQUE FELIX', N'M', N'elanchipa@upt.pe', N'931137877', N'Tacna')
INSERT [dbo].[PERSONA] ([ID_PERSONA], [DNI], [APELLIDOS], [NOMBRES], [SEXO], [EMAIL], [CELULAR], [DIRECCION]) VALUES (2, N'12458745', N'VEGA BERNAL', N'LILIANA', N'F', N'lvegab@upt.pe', N'945784512', N'Ciudad nueva')
INSERT [dbo].[PERSONA] ([ID_PERSONA], [DNI], [APELLIDOS], [NOMBRES], [SEXO], [EMAIL], [CELULAR], [DIRECCION]) VALUES (3, N'78451245', N'GONZALES DELGADO', N'JUAN', N'M', N'djuan@upt.pe', N'958547812', N'cono sur')
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONA_PROYECTO] ON 

INSERT [dbo].[PERSONA_PROYECTO] ([ID_PERSONA_PROYECTO], [ID_PERSONA], [ID_PROYECTO]) VALUES (2, 5, 14)
INSERT [dbo].[PERSONA_PROYECTO] ([ID_PERSONA_PROYECTO], [ID_PERSONA], [ID_PROYECTO]) VALUES (3, 4, 17)
SET IDENTITY_INSERT [dbo].[PERSONA_PROYECTO] OFF
GO
SET IDENTITY_INSERT [dbo].[PROYECTO] ON 

INSERT [dbo].[PROYECTO] ([ID_PROYECTO], [ID_LINEA], [ID_USUARIO], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (14, 2, 7, N'MICROSERVICIOS', N'WEb 2', N'0')
INSERT [dbo].[PROYECTO] ([ID_PROYECTO], [ID_LINEA], [ID_USUARIO], [NOMBRE], [DESCRIPCION], [ESTADO]) VALUES (17, 1, 7, N'ventas', N'web 12', N'0')
SET IDENTITY_INSERT [dbo].[PROYECTO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_PERSONA], [USUARIO], [CLAVE], [NIVEL], [ESTADO]) VALUES (6, 1, N'lanchipa', N'252525', N'ADMIN', N'1')
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_PERSONA], [USUARIO], [CLAVE], [NIVEL], [ESTADO]) VALUES (7, 2, N'vega', N'252525', N'DOCENTE', N'1')
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_PERSONA], [USUARIO], [CLAVE], [NIVEL], [ESTADO]) VALUES (8, 3, N'juan', N'252525', N'DOCENTE', N'1')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[PERSONA_PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK__PERSONA_P__ID_PE__2F10007B] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[PERSONA_PROYECTO] CHECK CONSTRAINT [FK__PERSONA_P__ID_PE__2F10007B]
GO
ALTER TABLE [dbo].[PERSONA_PROYECTO]  WITH CHECK ADD FOREIGN KEY([ID_PROYECTO])
REFERENCES [dbo].[PROYECTO] ([ID_PROYECTO])
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD FOREIGN KEY([ID_LINEA])
REFERENCES [dbo].[LINEA_INVESTIGACION] ([ID_LINEA])
GO
ALTER TABLE [dbo].[PROYECTO]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK__USUARIO__ID_PERS__286302EC] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK__USUARIO__ID_PERS__286302EC]
GO
